<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sonia_yt.nus.nusfoodie">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <meta-data
        android:name="api_key"
        android:value="AIzaSyAe0pPOD3ECQ8HKq7gP-5M5oAhZwr96e5E" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme">
        <activity android:name=".ProfileActivity"></activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/dondon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity android:name=".test" />
        <activity
            android:name=".ManageStallActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".ManageDishActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".OrderRecordActivity" />
        <activity
            android:name=".CartActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".DishDetailActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".DishListActivity" />
        <activity android:name=".StallListActivity" />
        <activity android:name=".CanteenListActivity" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>